.Home-logo {
	padding-top: 0%;
	padding-left: 1%;
	height: 3%;
	width: 3%;
}

.Gear {
	margin-left:87.5%;
	height: 3%;
	width: 3%;
}

.loginicon {
	position: relative;
	margin-left:96%;
	margin-bottom:-3.5%;
	width:20px;
	background-color: #474444;
	cursor:pointer;
	}