/* Styles pour la liste des channels */
.channel-list {
  margin: 0;
  /* Pour s'aligner avec le style global, pas de marges latérales */
  width: 50%;
  /* Prend toute la largeur disponible */
  background-color: #1c1c22;
  /* Couleur de fond du modal */
  border: 1px solid #9f00c5;
  /* Bordure pour s'aligner avec le style des modals */
  box-shadow: 0px 0px 10px #9f00c5;
  /* Ombre pour effet néon */
  color: #fff;
  /* Texte blanc pour contraster sur le fond sombre */
  margin: auto;
  /* Centrer le modal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  /* ou une autre hauteur selon la conception de votre application */
  position: relative;
  /* Pour positionner le bouton de fermeture par rapport à ce conteneur */
  border-radius: 8px;
  transition: max-height 0.3s ease-in-out;
}

/* Styles pour le header de la liste des channels */
.channel-header {
  background-color: transparent;
  color: #8e9297;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 15px 10px;
}


h2 {
  margin-bottom: 2vh;
}

.channel-ul {
  width: 100%;
  text-align: center;
  height: 50%;
  overflow-y: auto;
  /* Pour afficher une barre de défilement si nécessaire */

}

.channel-item {
  padding: 5px 10px;
}

.channel-btn {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  padding: 0;
  color: #8e9297;
  text-align: center;
  width: 20%;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

/* Effet de survol pour les éléments de la liste des channels */
.channel-btn:hover {
  background-color: #34373c;
  color: #ffffff;
  cursor: pointer;
}

/* Styles pour le bouton de création de channel */
.create-channel-btn {
  font-size: 1rem;
  background-color: #7d029b;
  color: #ffffff;
  display: block;
  margin: 10px auto;
  border: none;
  box-shadow: none;
  border-radius: 3px;
  padding: 10px;
  width: 20%;
  text-align: center;
  border: 1px solid #9f00c5;
  /* Bordure pour s'aligner avec le style des modals */
  box-shadow: 0px 0px 10px #9f00c5;
  /* Ombre pour effet néon */
}

/* Effet de survol pour le bouton de création de channel */
.create-channel-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Styliser les champs de saisie */
input[type="name"],
input[type="password"],
input[type="checkbox"] {
  background-color: #40444b;
  border: 1px solid #202225;
  color: #dcddde;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

/* Styliser les boutons de confirmation et d'annulation */
.confirm-create,
.cancel-btn {
  background-color: #7d029b;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  color: #ffffff;
  margin: auto;
  display: block;
  width: 20%;
  text-align: center;
}

.confirm-create:hover,
.cancel-btn:hover {
  cursor: pointer;
}

.modal {
  /* Styles pour le fond de la modale */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  /* Styles pour le contenu de la modale */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.close {
  /* Styles pour le bouton de fermeture */
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}