.Leaderbord-Box {
    margin: 0; /* Pour s'aligner avec le style global, pas de marges latérales */
    width: 50%; /* Prend toute la largeur disponible */
    background-color: #1c1c22; /* Couleur de fond du modal */
    border: 1px solid #9f00c5; /* Bordure pour s'aligner avec le style des modals */
    box-shadow: 0px 0px 10px #9f00c5; /* Ombre pour effet néon */
    color: #fff; /* Texte blanc pour contraster sur le fond sombre */
    margin: auto; /* Centrer le modal */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; /* ou une autre hauteur selon la conception de votre application */
    position: relative; /* Pour positionner le bouton de fermeture par rapport à ce conteneur */
    border-radius: 8px;
    transition: max-height 0.3s ease-in-out;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px; /* Taille de la croix pour fermer */
  }

  h2 {
    margin-bottom: 2vh;
  }

  .player-list {
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
  }

  .player-list::-webkit-scrollbar {
    width: 10px;
  }
  
  .player-list::-webkit-scrollbar-track {
    background: #1e1f22;
  }
  
  .player-list::-webkit-scrollbar-thumb {
    background: #9f00c5;
  }
  
  .player-list::-webkit-scrollbar-thumb:hover {
    background: #9f00c5;
  }

  
  .player-item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 1vh;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .player-item:hover {
    background-color: #f0f0f0;
    color: #1e1f22;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  h2 {
    text-align: center;
  }
  /* .create-player-btn {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    background-color: #0d0d14;
    font-family: 'Orbitron', sans-serif; 
    color:#f0f0f0;
    border: none;
  }
  
  .create-player-btn:hover {
    background-color: #f0f0f0;
    color: #0d0d14;
  } */
  