.edit-buttons {
    display: flex;        /* Utiliser flexbox */
    flex-direction: column;/* Empiler verticalement */
    align-items: center;   /* Centrer horizontalement */
    gap: 10px;            /* Espacement entre les boutons */
  }
  
  .edit-btn {
    background-color: #9f00c5;
    color: #fff;
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Bordures arrondies */
    cursor: pointer; /* Apparence du curseur pour le clic */
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Orbitron', sans-serif; /* Typographie futuriste */
    padding: 10px 20px; /* Ajouter du padding pour mieux formater les boutons */
  }
  .user-nickname-profile {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .resized-image {
    width: 64px;
    height: 64px;
  }

  .profile-header {
    display: grid;
    align-items: left; 
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    column-gap: 2vh;
    justify-content: space-between;
    background-color: "transparent";
    text-align: center;
    cursor: pointer;
    width: 100% - 2vh;
}

.bottomButton {
  display: grid;
  align-items: left; 
  grid-template-columns: 1fr 1fr;
  column-gap: 2vh;
  max-width: 20vh;
}

.profile-btn {
  background-color: #9f00c5;
  color: #fff;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}

.tab-profile {
  display: grid;
  height: 8vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  background-color: #9f00c5;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.active-tab {
  height: 5%;
  background-color: #9f00c5;
  color: #fff;
}


.tab-achievement {
  display: inline-block;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #8193a5;
  color: #fff;
  margin-left: 40px;
  margin-right: 55px;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.achievement-list {
  display: grid;
  align-items: left; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  height: 30vh;
  overflow-y: auto;
  overflow-x: auto;
}

.achievement-list::-webkit-scrollbar {
  width: 10px;
}

.achievement-list::-webkit-scrollbar-track {
  background: #1e1f22;
}

.achievement-list::-webkit-scrollbar-thumb {
  background: #9f00c5;
}

.achievement-list::-webkit-scrollbar-thumb:hover {
  background: #9f00c5;
}

.achievement-item {
  font-size: smaller;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding-top: 5px;
}

.achievement-img-div {
  width: 64px;
  height: 64px;
  box-shadow: 0px 0px 12px rgba(0, 184, 197, 0.534);
  background-image: url('~/assets/icons/achievementLock.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.uniqueAchievement {
  height: 84px;
  display: grid;
  align-items: left; 
  grid-template-columns: 64px 1fr;
  column-gap: 5px;
}

.last10games-list {
  height: 30vh;
  align-items: center;
  font-size: large;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: auto;
  margin-top: auto;
  overflow-y: auto;
  padding: 2%;
  width: 96%;
}

.last10games-list::-webkit-scrollbar {
  width: 10px;
}

.last10games-list::-webkit-scrollbar-track {
  background: #1e1f22;
}

.last10games-list::-webkit-scrollbar-thumb {
  background: #9f00c5;
}

.last10games-list::-webkit-scrollbar-thumb:hover {
  background: #9f00c5;
}

.gameItem {
  height: 10vh;
  width: 75vh;
  display: grid;
  grid-template-columns: 20vh 10vh 20vh 10vh 20vh;
  column-gap: 1vh;
  margin-bottom: 5px;
  font-size: smaller;
  font-family: 'Orbitron', sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.gameItem.img {
  height: 64px;
  width: 64px;
}

.gameWin {
  background-color: #337c16;
}

.gameLoose {
  background-color: #a8091e;
}

.gameDraw {
  background-color: #858585;
}

.gameInfo {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: auto;
  height: 10vh;
}

.myImage {
  height: 10vh;
  width: 10vh;
}


.score {
  margin: auto;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  height: 10vh;
  

}



.foeImage {
  height: 10vh;
  width: 10vh;
}

.foeInfo {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  padding: auto;
  height: 10vh;
}

.foeName {
  text-align: left;
  font-size: x-large;
  height: auto;
}

.profile-modal {
  background: #1c1c22;
  border-radius: 5px;
  border: 1px solid #9f00c5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 100vh;
  width: 100%;
}
.status-indicator-profile {
  font-size: 16px;
  margin:auto;
  text-align: center;
}
.green {
  color: green;
}
.red {
  color: red;
}
.orange {
  color: orange;
}